.cm-editor {
  @apply !w-full border border-our-light-gray !h-[calc(22.5rem+2px)];
}

.cm-focused {
  @apply !outline-none;
}

.cm-scroller {
  @apply !font-sans !leading-6 !text-sm;
}

.cm-content {
  @apply !p-0;
}

.cm-activeLine {
  @apply !bg-transparent;
}

.cm-gutters {
  @apply !bg-our-light-gray;
}

.cm-gutterElement {
  @apply !text-[14px] !font-medium !p-0 !text-center;
}

.cm-activeLineGutter {
  @apply !bg-our-blue !text-our-white;
}

.cm-foldGutter {
  @apply !w-0;
}

.cm-lineNumbers .cm-gutterElement {
  @apply !min-w-6;
}

.CodeMirror-lines {
  padding: 0 0 !important;
}

.CodeMirror-linenumber {
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  background-color: var(--light-gray);
  color: var(--gray);
  text-align: center !important;
  font-size: 0.875rem;
}

.CodeMirror-linenumber,
.CodeMirror-linenumbers {
  width: 24px !important;
  padding: 0 !important;
}

.CodeMirror-activeline .CodeMirror-linenumber {
  background-color: var(--blue);
  color: var(--white);
}

.CodeMirror-selected {
  background-color: var(--light-blue) !important;
}

.CodeMirror pre.CodeMirror-line {
  padding: 0 8px !important;
  font-size: 0.75rem !important;
}
